{:source-paths ["src"]
 :nrepl        {:port 8777}
 :dependencies [[rum "0.10.8"]
                [org.arachne-framework/factui "1.1.0-SNAPSHOT"]]
 :builds       {:app {:output-dir "target/"
                      :asset-path "resources/public"
                      :target     :browser
                      :modules    {:main {:entries [todomvc.factui]}}
                      }}}